body {
  padding: 0;
  margin: 0;
  font-family: 'Overpass Mono', serif;
  font-size: 18px;
  background-color: aliceblue;
  position: relative; }

.topNav {
  background: slategrey;
  color: white;
  position: relative;
  user-select: none;
  cursor: pointer; }
  .topNav .appName {
    padding-left: 10px;
    font-size: 1em;
    letter-spacing: 4px;
    text-transform: uppercase; }
  .topNav .moreIcon {
    float: right;
    width: 50px;
    padding: 2px;
    text-align: center; }
  .topNav .appDetails {
    max-height: 0;
    overflow: hidden;
    background: slategrey;
    padding: 0 10px;
    font-size: 0.7em;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    transition: 0.2s all; }
    .topNav .appDetails a {
      color: white; }
    .topNav .appDetails.visible {
      max-height: 100px; }

.container {
  width: 80%;
  max-width: 700px;
  margin: 50px auto 0;
  transition: opacity 0.4s; }
  .container .poemContainer {
    border: 1px solid slategrey;
    background: white; }
    .container .poemContainer header {
      position: relative;
      color: white;
      padding: 5px 20px;
      background: slategrey; }
      .container .poemContainer header h1 {
        text-transform: uppercase;
        margin: 0; }
      .container .poemContainer header #wholePoemRefresh {
        position: absolute;
        top: 0;
        right: 15px;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        transition: 0.2s;
        user-select: none; }
        .container .poemContainer header #wholePoemRefresh i.material-icons {
          height: 100%;
          font-size: 48px;
          line-height: 65px; }
    .container .poemContainer ul {
      padding: 0;
      margin: 30px; }
      .container .poemContainer ul li {
        line-height: 1;
        list-style: none;
        position: relative;
        transition: 0.1s; }
        .container .poemContainer ul li .poemLineRefresh {
          display: inline-block;
          position: absolute;
          top: 0px;
          right: -25px;
          width: 20px;
          height: 100%;
          color: crimson;
          opacity: 0;
          cursor: pointer;
          transition: 0.2s;
          user-select: none; }
          .container .poemContainer ul li .poemLineRefresh i.material-icons {
            font-size: inherit; }
    .container .poemContainer:hover #wholePoemRefresh {
      opacity: 1; }
    .container .poemContainer:hover .poemLineRefresh {
      opacity: 1; }
  .container .poemHighlight {
    background-color: crimson;
    color: white; }
  .container .poemLinks {
    font-size: 0.7em;
    padding: 20px 5px 0; }
    .container .poemLinks a {
      text-decoration: none;
      color: darkgrey; }
      .container .poemLinks a:hover {
        color: darkslategrey; }
      .container .poemLinks a.articleLink {
        float: right;
        line-height: 24px; }
  .container .loadingDiv {
    height: 180px;
    line-height: 180px;
    text-align: center; }
    .container .loadingDiv span {
      animation: loadingFade 1s infinite ease-in-out both; }
      .container .loadingDiv span:nth-child(1) {
        opacity: 1;
        animation-delay: 0s; }
      .container .loadingDiv span:nth-child(2) {
        opacity: 0.5;
        animation-delay: 0.2s; }
      .container .loadingDiv span:nth-child(3) {
        opacity: 0;
        animation-delay: 0.4s; }
@keyframes loadingFade {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }
.poemForm {
  position: fixed;
  overflow: hidden;
  transition: 0.4s all;
  background: slategrey; }
  .poemForm input {
    font-family: 'Overpass Mono', serif;
    font-size: 0.7em;
    float: left;
    box-sizing: border-box;
    padding: 5px;
    background: white;
    border: 0;
    outline: 0;
    transition: 0.4s all; }
    .poemForm input[type="submit"] {
      background: slategrey;
      color: white;
      cursor: pointer; }
      .poemForm input[type="submit"]:hover {
        background: #546576; }
      .poemForm input[type="submit"]:active {
        background: #3E4C5A; }
  .poemForm.poemFormInit {
    height: 120px;
    bottom: 60%;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid slategrey; }
    .poemForm.poemFormInit input {
      width: 100%;
      height: 50%; }
      .poemForm.poemFormInit input[type="text"] {
        padding-left: 30px; }
  .poemForm.poemFormBottom {
    height: 40px;
    left: 0%;
    width: 100%;
    transform: translateX(0%);
    margin: 0;
    border-top: 1px solid slategrey; }
    .poemForm.poemFormBottom input {
      height: 100%; }
      .poemForm.poemFormBottom input[type="text"] {
        padding-left: 10px;
        width: 75%; }
      .poemForm.poemFormBottom input[type="submit"] {
        width: 25%; }

.hidden {
  opacity: 0; }
  .hidden .poemLineRefresh, .hidden #wholePoemRefresh {
    display: none; }

@media (min-width: 500px) {
  .poemFormBottom {
    bottom: 0%; }
    .poemFormBottom input[type="submit"] {
      animation: submitResize 0.4s forwards; }
  @keyframes submitResize {
    0% {
      width: 100%;
      opacity: 1; }
    65% {
      height: 0%; }
    70% {
      opacity: 0; }
    75% {
      height: 100%; }
    100% {
      opacity: 1; } } }
@media (max-width: 500px) {
  body {
    font-size: 24px; }
    body .container {
      width: 100%;
      margin-top: 0px; }
      body .container .poemContainer {
        border: none;
        border-bottom: 1px solid slategrey; }
        body .container .poemContainer header #wholePoemRefresh i.material-icons {
          line-height: 84px; }
        body .container .poemContainer ul {
          margin: 20px; }
          body .container .poemContainer ul li .poemLineRefresh {
            font-size: 1em;
            line-height: 1em;
            padding: 0;
            right: -10px; }
      body .container .poemLinks {
        padding: 20px 10px 100px;
        font-size: 16px;
        line-height: 30px; }
        body .container .poemLinks i {
          font-size: 30px; }
    body .poemForm.poemFormInit {
      top: 150px;
      width: 80%;
      height: 200px; }
    body .poemForm.poemFormBottom {
      bottom: 0%;
      height: 60px;
      transition: 0.2s all; }
      body .poemForm.poemFormBottom input[type="text"] {
        width: 100%;
        display: none; }
        body .poemForm.poemFormBottom input[type="text"].inputMobile {
          display: block; }
      body .poemForm.poemFormBottom input[type="submit"] {
        width: 100%;
        animation: none; }
        body .poemForm.poemFormBottom input[type="submit"]:hover {
          background: inherit; }
      body .poemForm.poemFormBottom.poemFormExpanded {
        height: 120px; }
        body .poemForm.poemFormBottom.poemFormExpanded input {
          height: 50%;
          transition: 0.2s all; } }

/*# sourceMappingURL=app.css.map */
