$font-stack: 'Source Code Pro', monospace;
$bg-color: aliceblue;
$primary-color: slategrey;
$secondary-color: crimson;

body {
	padding: 0;
	margin: 0;
	font-family: $font-stack;
	font-size: 18px;
	background-color: $bg-color;
	position: relative;
}
.topNav {
	background: $primary-color;
	color: white;
	position: relative;
	cursor: pointer;
	height: 24px;
	.appName {
		padding-left: 10px;
		letter-spacing: 4px;
		text-transform: uppercase;
		display: inline-block;
	}
	.moreIcon {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		text-align: center;
		i.material-icons {
			height: 1em;
		}
	}
	.appDetails {
		max-height: 0;
		overflow: hidden;
		background: $primary-color;
		opacity: 0.95;
		padding: 0 10px;
		font-size: 0.7em;
		//width: 100%;
		top: 100%;
		left: 0;
		position: absolute;
		transition: 0.2s all;
		z-index: 100;
		a {
			color: white;
		}
		&.visible {
			max-height: 400px;
			padding: 10px;
		}
	}
}
.container {
	width: 80%;
	max-width: 700px;
	margin: 50px auto 0;
	transition: opacity 0.4s;
}
.poemContainer {
	border: 1px solid $primary-color;
	background: white;
}

.poemTitle {
	position: relative;
	color: white;
	padding: 5px 20px;
	background: $primary-color;
	h1 {
		text-transform: uppercase;
		margin: 0;
	}
	#poemEdit {
		position: absolute;
		top: 0;
		right: 15px;
		height: 100%;
		cursor: pointer;
		transition: 0.2s;
		user-select: none;
		opacity: 0.4;
		&:hover {
			opacity: 1;
		}
		i.material-icons {
			height: 100%;
			font-size: 48px;
			line-height: 55px;
		}
	}
}

.poemBody {
	padding: 0;
	margin: 30px;
	li {
		line-height: 1;
		list-style: none;
		position: relative;
		min-height: 10px;
		transition: all 0.3s;
		.poemLineText {
			margin-left: 1em;
			text-indent: -1em;
			display: block;
		}
		.poemLineRefresh {
			display: inline-block;
			position: absolute;
			top: 0px;
			right: 0px;
			width: 0px;
			overflow: hidden;
			height: 100%;
			color: $secondary-color;
			//background-color: $secondary-color;
			cursor: pointer;
			transition: 0.2s;
			user-select: none;
			i.material-icons {
				font-size: 40px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&.poemHighlight {
			min-height: 40px;
			margin-bottom: 2px;
			.poemLineText {
				padding-right: 40px;
			}
			.poemLineRefresh {
				opacity: 1;
				width: 40px;
			}
		}
	}
}


.poemLinks {
	font-size: 0.7em;
	padding: 20px 30px 0;
	a {
		text-decoration: none;
		color: darkgrey;
		&:hover {
			color: dark$primary-color;
		}
		&.articleLink {
			float: right;
			line-height: 24px;
		}
	}
}

.loadingDiv {
	height: 180px;
	line-height: 180px;
	text-align: center;
	span {
		animation: loadingFade 1s infinite ease-in-out both;
		&:nth-child(1){
			opacity: 1;
			animation-delay: 0s;
		}
		&:nth-child(2){
			opacity: 0.5;
			animation-delay: 0.2s;
		}
		&:nth-child(3){
			opacity: 0;
			animation-delay: 0.4s;
		}	
	}
	@keyframes loadingFade {
		0%, 100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
}

.poemForm {
	position: fixed;
	overflow: hidden;
	transition: 0.4s all;
	background: $primary-color;
	input {
		font-family: $font-stack;
		font-size: 0.7em;
		float: left;
		box-sizing: border-box;
		padding: 5px;
		background: white;
		border: 0;
		outline: 0;
		transition: 0.4s all;
		&[type="text"]:focus + input[type="submit"]{
			background: #546576;
		}
		&[type="submit"] {
			background: $primary-color;
			color: white;
			cursor: pointer;
			&:hover {
				background: #546576;
			}
			&:active {
				background: #3E4C5A;
			}
		}
	}
	&.poemFormInit {
		height: 120px;
		bottom: 60%;
		width: 40%;
		left: 50%;
		transform: translateX(-50%);
		border: 1px solid $primary-color;
		input {
			width: 100%;
			height: 50%;
			&[type="text"] {
				padding-left: 30px;
			}
		}
	}
	&.poemFormBottom {
		height: 40px;
		left: 0%;
		width: 100%;
		transform: translateX(0%);
		margin: 0;
		border-top: 1px solid $primary-color;
		input {
			height: 100%;
			&[type="text"] {
				padding-left: 10px;
				width: 75%;
			}
			&[type="submit"] {
				width: 25%;
			}
		}
	}
}
.hidden {
	opacity: 0;
	.poemLineRefresh {
		display: none;
	}
}

@media (min-width: 500px) {
	.poemFormBottom {
		bottom: 0%;
		input[type="submit"]{
			animation: submitResize 0.4s forwards;
			@keyframes submitResize {
				0% {
					width: 100%;
					opacity: 1;
				}
				65% {
					height: 0%;
				}
				70% {
					opacity: 0;
				}
				75% {
					height: 100%;
				}
				100% {
					opacity: 1;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	body {
		.container {
			width: 100%;
			margin-top: 0px;
			.poemContainer {
				header #wholePoemRefresh i.material-icons {
					line-height: 55px;
				}
				border: none;
				border-bottom: 1px solid $primary-color;
				ul {
					margin: 20px;
					li {
						.poemLineRefresh {
							font-size: 1em;
							line-height: 1em;
							padding: 0;
							right: -10px;
						}
					}
				}
			}
			.poemLinks {
				padding: 20px 10px 100px;
				font-size: 16px;
				line-height: 30px;
				i {
					font-size: 30px;
				}
			}
		}
		.poemForm {
			&.poemFormInit {
				top: 150px;
				width: 80%;
				height: 200px;
			}
			&.poemFormBottom {
				bottom: 0%;
				height: 60px;
				transition: 0.2s all;
				input {
					&[type="text"] {
						width: 100%;
						display: none;
						&.inputMobile {
							display: block;
						}
					}
					&[type="submit"] {
						width: 100%;
						animation: none;
						&:hover {
							background: inherit;
						}
					}
				}
				&.poemFormExpanded {
					height: 120px;
					input {
						height: 50%;
						transition: 0.2s all;
					}
				}
			}
		}
	}
}