body {
  padding: 0;
  margin: 0;
  font-family: 'Overpass Mono', serif;
  font-size: 15pt;
  background-color: aliceblue; }

.topNav {
  background: slategrey;
  color: white;
  padding: 0 10px;
  opacity: 1;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  letter-spacing: 4px;
  text-transform: uppercase; }
  .topNav a {
    float: right;
    color: white;
    text-decoration: none; }

.container {
  width: 80%;
  max-width: 700px;
  margin: 50px auto 0;
  transition: opacity 0.4s; }
  .container .poemContainer {
    border: 1px solid slategrey;
    background: white; }
    .container .poemContainer header {
      position: relative;
      color: white;
      padding: 5px 20px;
      background: slategrey; }
      .container .poemContainer header h1 {
        text-transform: uppercase;
        margin: 0; }
      .container .poemContainer header span {
        position: absolute;
        top: 5px;
        right: 20px;
        font-size: 2em;
        opacity: 0;
        cursor: pointer;
        transition: 0.2s;
        user-select: none; }
    .container .poemContainer ul {
      padding: 0;
      margin: 30px; }
      .container .poemContainer ul li {
        line-height: 1;
        list-style: none;
        position: relative;
        transition: 0.1s; }
        .container .poemContainer ul li .poemLineRefresh {
          display: inline-block;
          position: absolute;
          top: 0px;
          right: -25px;
          width: 20px;
          height: 100%;
          font-size: 0.8em;
          padding: 3px;
          color: crimson;
          opacity: 0;
          cursor: pointer;
          transition: 0.2s;
          user-select: none; }
    .container .poemContainer:hover header span {
      opacity: 1; }
    .container .poemContainer:hover .poemLineRefresh {
      opacity: 1; }
  .container .poemHighlight {
    background-color: crimson;
    color: white; }
  .container .articleLink {
    font-size: 11px;
    margin: 20px 0 0;
    padding-left: 30px; }
    .container .articleLink a {
      text-decoration: none;
      color: darkgrey; }
      .container .articleLink a:hover {
        color: slategrey; }
  .container .loadingDiv {
    padding: 100px 0;
    text-align: center; }
    .container .loadingDiv span {
      animation: loadingFade 1s infinite ease-in-out both; }
      .container .loadingDiv span:nth-child(1) {
        opacity: 1;
        animation-delay: 0s; }
      .container .loadingDiv span:nth-child(2) {
        opacity: 0.5;
        animation-delay: 0.2s; }
      .container .loadingDiv span:nth-child(3) {
        opacity: 0;
        animation-delay: 0.4s; }
@keyframes loadingFade {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }
.poemForm {
  position: absolute;
  overflow: hidden;
  transition: 0.4s all;
  background: slategrey; }
  .poemForm input {
    font-family: 'Overpass Mono', serif;
    font-size: 0.7em;
    float: left;
    box-sizing: border-box;
    padding: 5px;
    background: white;
    border: 0;
    outline: 0;
    transition: 0.4s all; }
    .poemForm input[type="submit"] {
      background: slategrey;
      color: white;
      cursor: pointer; }
      .poemForm input[type="submit"]:hover {
        background: #546576; }
      .poemForm input[type="submit"]:active {
        background: #3E4C5A; }

.poemFormInit {
  height: 120px;
  bottom: 60%;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid slategrey; }
  .poemFormInit input {
    width: 100%;
    height: 50%; }
    .poemFormInit input[type="text"] {
      padding-left: 30px; }

.poemFormBottom {
  height: 40px;
  bottom: 0%;
  left: 0%;
  width: 100%;
  transform: translateX(0%);
  margin: 0;
  border-top: 1px solid slategrey; }
  .poemFormBottom input {
    height: 100%; }
    .poemFormBottom input[type="text"] {
      padding-left: 10px;
      width: 75%; }
    .poemFormBottom input[type="submit"] {
      width: 25%;
      animation: submitResize 0.4s forwards; }
@keyframes submitResize {
  0% {
    width: 100%;
    opacity: 1; }
  65% {
    height: 0%; }
  70% {
    opacity: 0; }
  75% {
    height: 100%; }
  100% {
    opacity: 1; } }
.hidden {
  opacity: 0; }

@media (max-width: 500px) {
  .container {
    width: 90%;
    margin-top: 20px; }

  .poemFormInit {
    width: 80%;
    height: 200px; }

  .poemFormBottom input[type="text"] {
    width: 50%; }
  .poemFormBottom input[type="submit"] {
    width: 50%; } }

/*# sourceMappingURL=app.css.map */
