$font-stack: 'Source Code Pro', monospace;
$bg-color: aliceblue;
$primary-color: slategrey;
$secondary-color: crimson;

@mixin atMedium {
	@media (min-width: 530px) {
		@content;
	}
}

@mixin belowMedium {
	@media (max-width: 530px) {
		@content;
	}
}



body {
	padding: 0;
	margin: 0;
	font-family: $font-stack;
	font-size: 1.2rem;
	background-color: $bg-color;
	position: relative;
	@include atMedium {
		font-size: 1rem;
	}
}

.topNav {
	background: $primary-color;
	color: white;
	position: relative;
	cursor: pointer;
	height: 24px;
	.appName {
		padding-left: 10px;
		letter-spacing: 4px;
		text-transform: uppercase;
		display: inline-block;
	}
	.moreIcon {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		text-align: center;
		i.material-icons {
			height: 1em;
		}
	}
	.appDetails {
		max-height: 0;
		overflow: hidden;
		background: $primary-color;
		opacity: 0.95;
		padding: 0 10px;
		font-size: 0.7em;
		top: 100%;
		left: 0;
		position: absolute;
		transition: 0.2s all;
		z-index: 100;
		a {
			color: white;
		}
		&.visible {
			max-height: 400px;
			padding: 10px;
		}
	}
}

.container {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	transition: opacity 0.4s;
	@include atMedium {
		width: 80%;
		margin-top: 50px;
	}
}

#poemContainer {
	background: white;
	border-bottom: 1px solid $primary-color;
	@include atMedium {
		border: 1px solid $primary-color;
	}
}

#poemTitle {
	position: relative;
	color: white;
	padding: 5px 20px;
	background: $primary-color;
	h1 {
		text-transform: uppercase;
		margin: 0;
		display: inline-block;
		padding-left: 0;
		transition: all 0.2s ease-out;
	}
	span {
		position: absolute;
		top: 0;
		height: 100%;
		cursor: pointer;
		user-select: none;
		transition: all 0.2s ease-out;
		opacity: 0.4;
		&:hover {
			opacity: 1;
		}
		i.material-icons {
			height: 100%;
			font-size: 48px;
			line-height: 58px;
			@include atMedium {
				line-height: 1;
			}
		}
		&#poemEdit {
			right: 15px;
		}
		&#wholePoemRefresh {
			left: 15px;
			width: 0;
			overflow: hidden;
		}
	}
}

.poemBody {
	padding: 0;
	margin: 20px;
	@include atMedium {
		margin: 20px;
	}
	li {
		line-height: 1;
		list-style: none;
		position: relative;
		min-height: 10px;
		transition: all 0.3s;
		.poemLineText {
			margin-left: 1em;
			text-indent: -1em;
			display: block;
		}
		.poemLineRefresh {
			display: inline-block;
			position: absolute;
			top: 0px;
			right: 0px;
			width: 0px;
			overflow: hidden;
			height: 100%;
			color: $secondary-color;
			cursor: pointer;
			transition: 0.2s;
			user-select: none;
			i.material-icons {
				font-size: 40px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}


.poemLinks {
	padding: 20px 20px 100px;
	font-size: 1rem;
	@include atMedium {
		font-size: 0.7rem;
		padding: 20px 20px 0;
		line-height: 1;
	}
	a {
		text-decoration: none;
		color: darkgrey;
		&:hover {
			color: dark$primary-color;
		}
		&.articleLink {
			float: right;
			line-height: 30px;
			@include atMedium {
				line-height: 1;
			}
		}
	}
}

.loadingDiv {
	height: 180px;
	line-height: 180px;
	text-align: center;
	span {
		animation: loadingFade 1s infinite ease-in-out both;
		&:nth-child(1){
			opacity: 1;
			animation-delay: 0s;
		}
		&:nth-child(2){
			opacity: 0.5;
			animation-delay: 0.2s;
		}
		&:nth-child(3){
			opacity: 0;
			animation-delay: 0.4s;
		}	
	}
	@keyframes loadingFade {
		0%, 100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}
}

.poemForm {
	position: fixed;
	overflow: hidden;
	transition: 0.4s all;
	background: $primary-color;
	input {
		font-family: $font-stack;
		font-size: 0.7em;
		float: left;
		box-sizing: border-box;
		padding: 5px;
		background: white;
		border: 0;
		outline: 0;
		transition: 0.4s all;
		&[type="text"]:focus + input[type="submit"]{
			background: #546576;
		}
		&[type="submit"] {
			background: $primary-color;
			color: white;
			cursor: pointer;
			&:hover {
				background: #546576;
			}
			&:active {
				background: #3E4C5A;
			}
		}
	}
	&.poemFormInit {
		top: 150px;
		width: 80%;
		height: 200px;
		bottom: 60%;
		left: 50%;
		transform: translateX(-50%);
		border: 1px solid $primary-color;
		@include atMedium {
			top: auto;
			width: 40%;
			height: 120px;
		}
		input {
			width: 100%;
			height: 50%;
			&[type="text"] {
				padding-left: 30px;
			}
		}
	}
	&.poemFormBottom {
		bottom: 0%;
		height: 60px;
		left: 0%;
		width: 100%;
		transform: translateX(0%);
		margin: 0;
		border-top: 1px solid $primary-color;
		transition: 0.2s all;

		@include belowMedium {
			input {
				&[type="text"] {
					width: 100%;
					display: none;
					&.inputMobile {
						display: block;
					}
				}
				&[type="submit"] {
					width: 100%;
					animation: none;
					&:hover {
						background: inherit;
					}
				}
			}
			&.poemFormExpanded {
				height: 120px;
				input {
					height: 50%;
					transition: 0.2s all;
				}
			}
		}
		@include atMedium {
			height: 40px;
			input[type="submit"]{
				animation: submitResize 0.4s forwards;
				@keyframes submitResize {
					0% {
						width: 100%;
						opacity: 1;
					}
					65% {
						height: 0%;
					}
					70% {
						opacity: 0;
					}
					75% {
						height: 100%;
					}
					100% {
						opacity: 1;
					}
				}
			}
		}
		input {
			height: 100%;
			&[type="text"] {
				padding-left: 10px;
				width: 75%;
			}
			&[type="submit"] {
				width: 25%;
			}
		}
	}
}

.hidden {
	opacity: 0;
	.poemLineRefresh {
		display: none;
	}
}

.editMode {
	#poemTitle {
		&> h1 {
			padding-left: 50px;
		}
		&> #wholePoemRefresh {
			width: 50px;
		}
	}
	.poemBody > li {
		min-height: 40px;
		margin-bottom: 2px;
		&:hover {
			background-color: rgba(220,20,60,0.5);
			&> .poemLineRefresh {
				opacity: 1;
			}
		}
		.poemLineText {
			padding-right: 40px;
		}
		.poemLineRefresh {
			opacity: 0.5;
			width: 40px;
		}
	}
}