.container {
	width: 100%;
	max-width: 650px;
	margin: 1px auto;
	transition: opacity 0.4s;
	border-top: 1px solid $primary-color;
	@mixin atMedium {
		border: none;
		width: 80%;
		margin-top: 70px;
	}
}

#poemContainer {
	background: white;
	@mixin atMedium {
		border-radius: 20px;
		border: 1px solid $border-color;
		overflow: hidden;
	}
}

.hidden {
	opacity: 0;
}