.edit-mode {
	.poem-title {
		& > h1 {
			padding-left: 50px;
			@mixin atMedium {
				padding-left: 40px;
			}
		}
		& > #wholePoemRefresh {
			width: 50px;
			color: $secondary-color;
			opacity: 1;
		}
	}
	.poem-body {
		background: none;
		box-shadow: none;
		& > li {
			padding: 10px 35px 5px;
			margin-bottom: 5px;
			min-height: 40px;
			user-select: none;
			cursor: pointer;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
				0 1px 2px rgba(0, 0, 0, 0.24);
			@mixin atMedium {
				padding: 10px 20px 5px;
			}
			&:first-child {
				margin-top: 10px;
			}
			&:last-child {
				border-radius: 0;
			}
			&:focus {
				color: white;
				background: $secondary-color;
				.poem-line__nav {
					@mixin belowMedium {
						color: white;
					}
				}
			}
			&:last-child {
				border: 1px solid transparent;
			}
			.poem-line__text {
				padding-right: 40px;
			}
			.poem-line__nav {
				opacity: 1;
				visibility: visible;
				z-index: 2;
			}
		}
	}
}
