.edit-mode {
	.poem-title {
		&> h1 {
			padding-left: 50px;
			@mixin atMedium {
				padding-left: 40px;
			}
		}
		&> #wholePoemRefresh {
			width: 50px;
			color: $secondary-color;
			opacity: 1;
		}
	}
	.poem-body {
		&> li {
			padding-top: 7px;
			padding-bottom: 5px;
			min-height: 30px;
			border-bottom: 1px solid $border-color-l1;
			user-select: none;
			&:hover {
				color: white;
				background-color: $secondary-color;
				&> .poem-line--refresh {
					opacity: 1;
					color: white;
				}
			}
			&:last-child {
				border: 1px solid transparent;
			}
			.poem-line--text {
				padding-right: 40px;
			}
			.poem-line--refresh {
				color: $secondary-color;
				height: 100%;
				@mixin atMedium {
					i.material-icons {
						right: 0;
					}
				}
			}
		}
	}
}