.poemForm {
	position: fixed;
	overflow: hidden;
	transition: 0.3s all;
	background: $primary-color;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	input {
		font-family: $font-stack;
		font-weight: 300;
		letter-spacing: 0.2px;
		font-size: 0.8em;
		float: left;
		box-sizing: border-box;
		padding: 5px;
		background: white;
		border: 0;
		outline: 0;
		transition: 0.3s all;
		@mixin atMedium {
			font-size: 0.7em;
		}
		&[type="submit"] {
			background: $primary-color;
			color: white;
			cursor: pointer;
			&:hover {
				background: $primary-color-d1;
			}
			&:active {
				background: $primary-color-d2;
			}
		}
	}
	&.poemFormInit {
		font-size: 1.1em;
		top: 150px;
		width: 80%;
		height: 200px;
		bottom: 60%;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 3px;
		@mixin atMedium {
			top: auto;
			max-width: 400px;
			height: 120px;
		}
		input {
			width: 100%;
			height: 50%;
			&[type="text"] {
				padding-left: 30px;
			}
		}
	}
	&.poemFormBottom {
		bottom: 0%;
		height: 60px;
		left: 0%;
		width: 100%;
		margin: 0;
		border-radius: 0px;
		input {
			height: 100%;
			&[type="text"] {
				padding-left: 10px;
				width: 75%;
			}
			&[type="submit"] {
				width: 25%;
			}
		}

		@mixin belowMedium {
			input {
				&[type="text"] {
					width: 100%;
					display: none;
					&.inputMobile {
						display: block;
					}
				}
				&[type="submit"] {
					width: 100%;
					animation: none;
					&:hover {
						background: inherit;
					}
				}
			}
			&.poemFormExpanded {
				height: 120px;
				input {
					height: 50%;
					transition: 0.3s all;
				}
			}
		}

		@mixin atMedium {
			height: 40px;
			input[type="submit"]{
				animation: submitResize 0.3s forwards;
				@keyframes submitResize {
					0% {
						width: 100%;
						opacity: 1;
					}
					65% {
						height: 0%;
					}
					70% {
						opacity: 0;
					}
					75% {
						height: 100%;
					}
					100% {
						opacity: 1;
					}
				}
			}
		}
	}
}