.top-nav {
	position: absolute;
	top: 0;
	color: white;
	width: 100%;
	z-index: 10;
	cursor: pointer;
	opacity: 1;
	color: $primary-color;
	&__info-icon {
		position: relative;
		text-align: right;
		opacity: 0.4;
		transition: all 0.4s;
		padding: 5px;
		&:hover {
			opacity: 1;
		}
	}
	&__details {
		width: 100%;
		max-height: 0;
		overflow: hidden;
		color: #ffffff;
		background: $primary-color;
		padding: 0 10px;
		font-size: 0.7em;
		position: absolute;
		transition: 0.2s all ease-out;
		z-index: 100;
		a {
			color: inherit;
			display: inline-block;
		}
		&--expanded {
			max-height: 400px;
			padding: 10px;
		}
	}
}