.poemBody {
	padding: 0;
	margin: 20px;
	@include atMedium {
		margin: 20px;
	}
	li {
		line-height: 1;
		list-style: none;
		position: relative;
		min-height: 10px;
		transition: all 0.3s;
		.poemLineText {
			margin-left: 1em;
			text-indent: -1em;
			display: block;
		}
		.poemLineRefresh {
			display: inline-block;
			position: absolute;
			top: 0px;
			right: 0px;
			width: 0px;
			overflow: hidden;
			height: 100%;
			color: $secondary-color;
			cursor: pointer;
			transition: 0.2s;
			user-select: none;
			i.material-icons {
				font-size: 40px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}