.topNav {
	background: $primary-color-d1;
	color: white;
	position: relative;
	cursor: pointer;
	height: 24px;
	.appName {
		padding-left: 10px;
		letter-spacing: 4px;
		text-transform: uppercase;
		display: inline-block;
	}
	.moreIcon {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		text-align: center;
		i.material-icons {
			height: 1em;
		}
	}
	.appDetails {
		max-height: 0;
		overflow: hidden;
		background: $primary-color;
		opacity: 0.95;
		padding: 0 10px;
		font-size: 0.7em;
		top: 100%;
		left: 0;
		position: absolute;
		transition: 0.2s all;
		z-index: 100;
		a {
			color: white;
		}
		&.visible {
			max-height: 400px;
			padding: 10px;
		}
	}
}