#poemTitle {
	position: relative;
	color: $primary-color;
	padding: 10px 20px;
	background: white;
	@mixin atMedium {
		border: 1px solid $border-color;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}

	h1 {
		text-transform: uppercase;
		margin: 0;
		display: inline-block;
		padding-left: 0;
		transition: all 0.2s ease-out;
	}
	span {
		position: absolute;
		top: 0;
		height: 100%;
		cursor: pointer;
		user-select: none;
		transition: all 0.2s ease-out;
		opacity: 0.2;
		&:hover {
			opacity: 1;
		}
		i.material-icons {
			height: 100%;
			font-size: 48px;
			line-height: 64px;
			@mixin atMedium {
				font-size: 32px;
				line-height: 56px;
			}
		}
		&#poemEdit {
			right: 15px;
		}
		&#wholePoemRefresh {
			left: 15px;
			width: 0;
			overflow: hidden;
		}
	}
}