.poemLinks {
	padding: 20px 20px 100px;
	font-size: 1rem;
	@mixin atMedium {
		font-size: 0.7rem;
		padding: 20px 20px 0;
		line-height: 1;
	}
	a {
		text-decoration: none;
		color: darkgrey;
		&:hover {
			color: dark$primary-color;
		}
		&.articleLink {
			float: right;
			line-height: 30px;
			@mixin atMedium {
				line-height: 24px;
			}
		}
	}
}