.topNav {
	background: $bg-color;
	color: $primary-color-d2;
	position: relative;
	cursor: pointer;
	height: 24px;
	.appName {
		padding-left: 10px;
		letter-spacing: 4px;
		text-transform: uppercase;
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.moreIcon {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		text-align: center;
		i.material-icons {
			height: 1em;
		}
	}
	.appDetails {
		width: 100%;
		box-sizing: border-box;
		max-height: 0;
		overflow: hidden;
		background: $bg-color;
		padding: 0 10px;
		font-size: 0.7em;
		top: 100%;
		left: 0;
		position: absolute;
		transition: 0.2s all;
		z-index: 100;
		border-bottom: 1px solid transparent;
		a {
			color: $primary-color-d2;
			display: inline-block;
		}
		&.visible {
			max-height: 400px;
			padding: 10px;
			border-bottom: 1px solid $primary-color;
		}
	}
}